/* nav releted styles */
* {
    margin: 0px;
    padding: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
.pc {
  color: #00d2ff;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.btn-primary {
  border-radius: 5px;
  background: 	#00d2ff;
  color: white;
  border: 0px;
  font-size: 20px;
  font-weight: 700px;
  padding: 15px 35px;
}
/* header releted style */
.header {
    background-color: #b1f2ff;
}
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
hardy {
    width: 500px;
}
